@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    background-color: #24292e;
}

figcaption {
    font-size: smaller;
    margin-bottom: 10px;
}

summary {
    cursor: grab;
}

#NegOmegaChatBot {
    display: inline-block;
    background-color: #009879;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

#NegOmegaChatBot:hover {
    background-color: #00896d;
}

.rickroll {
    width: 500px;
    aspect-ratio: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
    width: 25%;
}

th {
    user-select: none;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f342;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

h1 {
    background: linear-gradient(120deg, rgba(255,128,0,1) 0%, rgba(255,0,228,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    background: linear-gradient(60deg, rgba(0,255,141,1) 0%, rgba(0,155,255,1) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}